.d-flex input {
    margin: .9em 0em;
    
}
.d-flex button {
    margin: 1.5em .6em;
    padding: 0.5em 1.5em;
    font-weight: 500;
    cursor: pointer;
}
.d-flex table .btnEdit, .d-flex table .btnDelete {
    cursor: pointer;
}